*{
  box-sizing: border-box;
  margin: 0;
}
nav{
  height: 80px;
  background-color: #0d325a;
  width: 100%;
  line-height: 80px;
}
.container{
  width: 80vw;
  height: 100%;
  margin: auto;
  border-left: 1px solid white;
  text-align: center;
}
.container > .nav-left{
  float: left;
  width: 60%;

}
.container > .nav-right{
  float: right;
  width: 40%;
  text-align: center;
  line-height: 80px;
}

h2{
  display: inline-block;
}
img{
  padding-right: 10px;
}

 ul > li{
display: inline;
padding: 5px;
color: white;
}

}
.navbar:{
width: 100%;
height: 48px;
line-height: 48px;
}
.navbar-right > h2{
  color: rgba(255,255,255,0.5);
  padding-left: 60px;
  font-size: 18px;
}
.navbar-right > button#login{
  background-color: #0d325a;
  color: white;
  border: 1px solid #4e8cb6;
  padding:10px 25px 10px;
  border-radius: 5px;

}
.navbar-right > button#plan{
  background-color: #7fb802;
  color: white;
  border: 1px solid #4e8cb6;
  padding:10px 25px 10px;
  border-radius: 5px;
  margin-left: 5px;

}
.navbar-image{
  display: inline-block;
}
nav::after{
  clear: both;
  content: "";
  display: table;
}
.paragraph{
text-align: center;
background-color: #D0D0D0;
padding: 40px;
}
.paragraph > p{
  margin-top: 10px;
}
section.white{
  background-color: white;
  color: black;
}
section.white #text{
  text-align: center;

}

.left, .center, .right{
  float: left;
  width: 33.3333%;
}
.row::after{
  clear: both;
  content: "";
  display: table;
}
.why-fluentify{
  text-align: center;
  margin-bottom: 50px;
}
.why-fluentify  img{
  width: 200px;
  height: 132px;
  text-align: center;
}
.why-fluentify h3{
  color: #7fb802;
}
.half{
  float: left;
  width: 50%;
  height: 392px;
  text-align: center;
}
a{
  color: blue;
}
#best-2  img{
  width: 300px;
  text-align: center;
}

}
#best-2::after{
  clear: both;
  content: "";
  display: table;
}
 #text > *{
  padding:30px;
  text-align: left;

}
